Repository j-show/eslint: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config ./.prettierrc.js --write, eslint --config ./.eslintrc.js --fix --quiet

.lintstagedrc:

{
  "*.{md,json}": ["prettier --config ./.prettierrc.js --write", "git add"],
  "*.{ts,js,tsx,jsx,vue}": [
    "prettier --config ./.prettierrc.js --write",
    "eslint --config ./.eslintrc.js --fix --quiet"
  ]
}

ci: fix github release error
  .github/workflows/merge-build.yml
  .github/workflows/release-publish.yml
  package.json
  packages/config/package.json
  packages/rule/package.json
  pnpm-lock.yaml
  scripts/npm-publish.js
Due: prettier --config ./.prettierrc.js --write, eslint --config ./.eslintrc.js --fix --quiet

chore: upgrade packages version - eslint-config-jshow 1.0.10 - eslint-plugin-jshow 1.0.11
  packages/config/package.json
  packages/rule/package.json
Due: prettier --config ./.prettierrc.js --write

ci: fix action script
  .cursor/rules/cursor.mdc
  .github/workflows/merge-build.yml
  .github/workflows/release-publish.yml
Due: none

fix: change typescript config
  packages/config/package.json
  packages/config/src/typescript.ts
  packages/config/src/vue.ts
  packages/config/vite.config.ts
  packages/rule/package.json
  packages/rule/vite.config.ts
Due: prettier --config ./.prettierrc.js --write, eslint --config ./.eslintrc.js --fix --quiet

chore: upgrade packages version
  packages/config/package.json
  packages/rule/package.json
Due: prettier --config ./.prettierrc.js --write

feat: enhance ESLint rules and documentation
  README.md
  README_CN.md
  packages/config/src/browser.ts
  packages/config/src/index.ts
  packages/config/src/node.ts
  packages/config/src/react.ts
  packages/config/src/typescript.ts
  packages/config/src/utils.ts
  packages/config/src/vue.ts
  packages/rule/README.md
  packages/rule/README_CN.md
  packages/rule/src/index.ts
  packages/rule/src/rules/explicit-member-accessibility.ts
  packages/rule/src/rules/index.ts
  packages/rule/src/rules/sort-export.ts
  packages/rule/src/rules/sort-import.ts
  packages/rule/src/rules/types.ts
  packages/rule/src/rules/unused-import.ts
  packages/rule/src/rules/unused-variable.ts
  packages/rule/src/rules/utils.ts
  packages/rule/test/rules/explicit-member-accessibility.test.ts
  packages/rule/test/rules/sort-export.test.ts
  packages/rule/test/rules/sort-import.test.ts
  packages/rule/test/rules/unused-import.test.ts
  packages/rule/test/rules/unused-variable.test.ts
  packages/rule/test/utils/helper.ts
Due: prettier --config ./.prettierrc.js --write, eslint --config ./.eslintrc.js --fix --quiet

feat: enhance ESLint rules and documentation
  .github/workflows/publish.yml
  README.md
  README_CN.md
  packages/config/src/browser.ts
  packages/config/src/index.ts
  packages/config/src/node.ts
  packages/config/src/react.ts
  packages/config/src/typescript.ts
  packages/config/src/utils.ts
  packages/config/src/vue.ts
  packages/rule/README.md
  packages/rule/README_CN.md
  packages/rule/src/index.ts
  packages/rule/src/rules/explicit-member-accessibility.ts
  packages/rule/src/rules/index.ts
  packages/rule/src/rules/sort-export.ts
  packages/rule/src/rules/sort-import.ts
  packages/rule/src/rules/types.ts
  packages/rule/src/rules/unused-import.ts
  packages/rule/src/rules/unused-variable.ts
  packages/rule/src/rules/utils.ts
  packages/rule/test/rules/explicit-member-accessibility.test.ts
  packages/rule/test/rules/sort-export.test.ts
  packages/rule/test/rules/sort-import.test.ts
  packages/rule/test/rules/unused-import.test.ts
  packages/rule/test/rules/unused-variable.test.ts
  packages/rule/test/utils/helper.ts
Due: prettier --config ./.prettierrc.js --write, eslint --config ./.eslintrc.js --fix --quiet

fix: pretter config fail
  .husky/pre-commit
  .lintstagedrc
  .prettierignore
  eslint.config.js
  examples/react/eslint.config.js
  examples/vue/eslint.config.js
  package.json
  packages/config/package.json
  packages/config/src/index.ts
  packages/config/src/prettier.ts
  packages/config/vite.config.ts
  packages/rule/vitest.config.ts
  pnpm-lock.yaml
Due: prettier --config ./.prettierrc.js --write, eslint --config ./.eslintrc.js --fix --quiet

chore: upgrade packages version
  packages/config/package.json
Due: prettier --config ./.prettierrc.js --write

fix: normal scripts
  package.json
  packages/config/package.json
  packages/rule/package.json
  scripts/publish.mjs
  scripts/upgrade.mjs
Due: prettier --config ./.prettierrc.js --write

chore: upgrade packages version
  package.json
  packages/config/package.json
  packages/rule/package.json
Due: prettier --config ./.prettierrc.js --write

chore: upgrade packages version
  packages/config/package.json
  packages/config/src/typescript.ts
  packages/config/tsconfig.base.json
  packages/config/tsconfig.json
  packages/rule/tsconfig.json
  tsconfig.json
Due: prettier --config ./.prettierrc.js --write, eslint --config ./.eslintrc.js --fix --quiet
