Repository j-show/eslint: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config ./.prettierrc.js --write, eslint --config ./.eslintrc.js --fix --quiet

feat(unused): add unused import & unused variable rules (#2)
  .eslintrc.js
  .npmrc
  .prettierignore
  .prettierrc.js
  .yarnrc
  jest.config.js
  package.json
  pnpm-lock.yaml
  src/rules/explicit-member-accessibility.ts
  src/rules/index.ts
  src/rules/unused-import.ts
  src/rules/unused-variable.ts
  src/rules/utils.ts
  test/helper.ts
  test/rules/explicit-member-accessibility.test.ts
  test/rules/unused-import.test.ts
  test/rules/unused-variable.test.ts
  test/tsconfig.json
  tsconfig.json
Due: prettier --config ./.prettierrc.js --write, eslint --config ./.eslintrc.js --fix --quiet

fix: vue config change
  package.json
  src/configs/typescript.ts
  src/configs/vue.ts
Due: prettier --config ./.prettierrc.js --write, eslint --config ./.eslintrc.js --fix --quiet

Update npm-publish.yml
  .github/workflows/npm-publish.yml
Due: none

fix npm-publish.yml
  .github/workflows/npm-publish.yml
Due: none

chore(build): fix build script
  package.json
  packages/config/package.json
  packages/rule/package.json
  scripts/utils.ts
Due: prettier --config ./.prettierrc.js --write, eslint --config ./.eslintrc.js --fix --quiet

chore(build): fix monorepo config
  README.md
  package.json
Due: prettier --config ./.prettierrc.js --write

fix(build): fix build config
  packages/config/package.json
  packages/rule/package.json
  scripts/utils.ts
Due: prettier --config ./.prettierrc.js --write, eslint --config ./.eslintrc.js --fix --quiet

fix(cfg): fix config & fix build script
  .eslintrc.js
  .github/workflows/merge-publish.yml
  .github/workflows/npm-publish.yml
  .github/workflows/pr-check.yml
  .gitignore
  .npmrc
  examples/react/.eslintignore
  examples/react/.eslintrc.js
  examples/react/package.json
  examples/react/tsconfig.json
  examples/vue/.eslintignore
  examples/vue/.eslintrc.js
  examples/vue/package.json
  examples/vue/tsconfig.json
  package.json
  packages/config/package.json
  packages/config/src/browser.ts
  packages/config/src/import.ts
  packages/config/src/index.ts
  packages/config/src/node.ts
  packages/config/src/react.ts
  packages/config/src/typescript.ts
  packages/config/src/vue.ts
  packages/rule/package.json
  packages/rule/src/index.ts
  packages/rule/src/rules/index.ts
  packages/rule/src/rules/utils.ts
  packages/rule/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/build/config.ts
  scripts/build/rule.ts
  scripts/utils.ts
Due: prettier --config ./.prettierrc.js --write, eslint --config ./.eslintrc.js --fix --quiet

fix(cfg): fix config & fix build script (#10)
  .eslintrc.js
  .github/workflows/merge-publish.yml
  .github/workflows/npm-publish.yml
  .github/workflows/pr-check.yml
  .gitignore
  .npmrc
  examples/react/.eslintignore
  examples/react/.eslintrc.js
  examples/react/package.json
  examples/react/tsconfig.json
  examples/vue/.eslintignore
  examples/vue/.eslintrc.js
  examples/vue/package.json
  examples/vue/tsconfig.json
  package.json
  packages/config/package.json
  packages/config/src/browser.ts
  packages/config/src/import.ts
  packages/config/src/index.ts
  packages/config/src/node.ts
  packages/config/src/react.ts
  packages/config/src/typescript.ts
  packages/config/src/vue.ts
  packages/rule/package.json
  packages/rule/src/index.ts
  packages/rule/src/rules/index.ts
  packages/rule/src/rules/utils.ts
  packages/rule/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/build/config.ts
  scripts/build/rule.ts
  scripts/utils.ts
Due: prettier --config ./.prettierrc.js --write, eslint --config ./.eslintrc.js --fix --quiet

fix: ci script
  .github/workflows/merge-publish.yml
Due: none

fix: ci script (#11)
  .github/workflows/merge-publish.yml
Due: none

chore: upgrade packages
  packages/config/package.json
  packages/rule/package.json
Due: prettier --config ./.prettierrc.js --write

fix: merge publish script
  .github/workflows/merge-publish.yml
Due: none

fix: merge publish script (#12)
  .github/workflows/merge-publish.yml
Due: none

feat: change eslint config node & typescript
  packages/config/package.json
  packages/config/src/node.ts
  packages/config/src/typescript.ts
Due: prettier --config ./.prettierrc.js --write, eslint --config ./.eslintrc.js --fix --quiet

feat: change eslint config node & typescript (#13)
  packages/config/package.json
  packages/config/src/node.ts
  packages/config/src/typescript.ts
Due: prettier --config ./.prettierrc.js --write, eslint --config ./.eslintrc.js --fix --quiet

fix: typescript config
  .github/workflows/merge-publish.yml
  packages/config/src/typescript.ts
Due: prettier --config ./.prettierrc.js --write, eslint --config ./.eslintrc.js --fix --quiet

fix: typescript config & ci script
  .github/workflows/merge-publish.yml
  .github/workflows/pr-check.yml
  packages/config/src/typescript.ts
Due: prettier --config ./.prettierrc.js --write, eslint --config ./.eslintrc.js --fix --quiet

fix: typescript config & ci script (#15)
  .github/workflows/merge-publish.yml
  .github/workflows/pr-check.yml
  packages/config/src/typescript.ts
Due: prettier --config ./.prettierrc.js --write, eslint --config ./.eslintrc.js --fix --quiet

chore: upgrade packages
  packages/config/package.json
Due: prettier --config ./.prettierrc.js --write

temp
  .github/workflows/merge-build.yml
  .github/workflows/release-publish.yaml
Due: none

temp
  .github/workflows/merge-build.yml
  .github/workflows/pr-check.yml
  .github/workflows/release-publish.yaml
Due: none

temp
  .github/workflows/release-publish.yaml
Due: none

ci: change build and publish ci scripts
  .github/workflows/merge-build.yml
  .github/workflows/pr-check.yml
  .github/workflows/release-publish.yaml
Due: none

chore: upgrade packages version - eslint-config-jshow undefined - eslint-plugin-jshow undefined
  packages/config/package.json
  packages/rule/package.json
Due: prettier --config ./.prettierrc.js --write

ci: change publish script & github release script
  .github/workflows/merge-build.yml
  .github/workflows/release-publish.yml
  scripts/upgrade-version.js
Due: prettier --config ./.prettierrc.js --write, eslint --config ./.eslintrc.js --fix --quiet

Path conditions:
  prettier --config ./.prettierrc.js --write: (any of: *.{md,json}) or (any of: *.{ts,js,tsx,jsx,vue})
  eslint --config ./.eslintrc.js --fix --quiet: any of: *.{ts,js,tsx,jsx,vue}
